################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto-Biblioteca-Poo/FileContentIndex/8335c3b4-92d6-4d02-a9a2-20428303aca7.vsidx
/.vs/Proyecto-Biblioteca-Poo/FileContentIndex/e67aa676-695c-4475-8337-9824f126ff48.vsidx
*.vsidx
